<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="genialinvestimentosdevops" value="https://pkgs.dev.azure.com/geniallabs/_packaging/geniallabs/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <genialinvestimentosdevops>
      <add key="Username" value="deploy-adm@brasilplural.onmicrosoft.com" />
      <add key="ClearTextPassword" value="d77dqgejnocvngnrgozxqzsp4u3qrgj3xcjpwzwlasyvfufwzusq" />
    </genialinvestimentosdevops>
  </packageSourceCredentials>
</configuration>
